@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster&display=swap');
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.avatar{
  width: 165px;
  height: 140px;
  
  padding-top:0px;
  padding-bottom:20px;
}

.avatar-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  height:143px;
}
.avatarDetails{
  padding-right: 40px;
  padding-top: 50px;
}
/*FOOTER*/

.superfooter {
box-sizing: border-box;
color:rgba(255, 255, 255, 0.8);
background-color: #561D25;
position: relative;
bottom: 0;
margin-top: 50px;
padding-top: 80px;
padding-bottom: 50px;
text-align: center
}

.websiteFooter{
text-align: center;
padding-bottom:50px;
}


.footDetails {
 margin-right:60px;

}

.stuffRow{
  padding-left:50px;
}


.containerFooter {
 padding-left:0px;
padding-top:100px;
}

.indexForm{
  width:100%;
  max-width: 330px;
  padding:15px;
  margin:auto;
  height: 100%
}
body{
 font-family: 'Cairo', sans-serif;
}
.indexTitle, .transactionTitle{
  font-family: 'Lobster', cursive;
}

.incomeRow{
  background-color: #5a9b67;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.expenseRow {
  background-color: #cf5856;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.overExpense{
color: rgba(255,255,255, 0.8);
}
.overIncome{
color:rgba(255,255,255, 0.8)
}
.categoryPie{
  margin:100px;
}
.incomeExpenseTabs {
  margin-top:85px;
}

/*headers*/
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.balance-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  margin: 20px 0;
}
.title-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color:white;
}

.money.plus {
  color:white;}

.money.minus {
  color:white;
}

.navbar{
    font-size: 16px;
}

 .jumbotron {
      background: url('https://images.unsplash.com/photo-1537724326059-2ea20251b9c8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1510&q=80') no-repeat center center;
      background-size: cover;
      height: 72vh;
      color:rgba(255, 255, 255, 0.5);
      box-shadow: 0 8px 16px -6px black;

    }

  .bannerTitle{
  	color:white;
  }

.navlogo{
	max-width:45px;
	margin-top: -5px;
	margin-left: 20px;
	
}

/*index buttons*/
.indexButton{
	padding: 15px 40px;
	background: rgba(27, 156, 249);
	border:none;
	color:white;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transition: all 200ms linear;
}

.indexButton : hover{
	background: white;
	color: #1b9cf9;
	font-size: 18px;
	transform: translateY(-8px);
}

/*records*/
.transaction {
  list-style: none;
  font-family:  "Poppins", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
  border-radius: 0.3rem;
  width: 32rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.contentContainer {
display:flex;
justify-content: space-between;
}


.plus {
  background-color: #5a9b67;
  color:white;
  margin-bottom: 5px;
  padding: 10px;
}

.minus {
  background-color: #cf5856;
   margin-bottom: 5px;
   padding: 10px;
   color:white;
}


/*InputForm*/


.input-form {
	display: block;
	margin: 0px;
	position: relative;
}

.input-form:after {
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	right: 0px;
	bottom: -10px;
	background-image: linear-gradient(to bottom, #250001, #A50104);
	border-radius: 10px;
	transition: 0.2s;
}

.input-form:focus-within:after {
	top: -20px;
	left: -3px;
	right: -3px;
	bottom: -20px;
}
.form-inner {
	padding: 10px;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	transition: 0.4s;
	border-radius: 8px;
}
.form-inner input {
	font-size: 19px;
	padding: 10px 20px;
	background-color: #F2F2F2;
}

